<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>view.MainPage</servlet-class>
        <init-param>
            <param-name>Login</param-name>
            <param-value>name</param-value>
        </init-param>
        <init-param>
            <param-name>RegistryStatus</param-name>
            <param-value>false</param-value>
        </init-param>
        
        <init-param>
            <param-name>Action</param-name>
            <param-value>action</param-value>
        </init-param> 
        
        <init-param>
            <param-name>Password</param-name>
            <param-value>password</param-value>
        </init-param>
        
        <init-param>
            <param-name>MessageNumber</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html </welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
